# python
__pycache__/
*.egg-info/

# jupyter
.ipynb_checkpoints

# development
*.vscode

# data directory
tmae/data
mae/data
tmae/examples/output
mae/examples/output
goal_images/
data/

# teleop output runs
teleop_runs/

# misc
.DS_Store

# wandb
wandb/
mae/wandb

# tensorboard
tb/

# slurm logs
slurm_logs/


scene_mesh.html
pirlnav.sif

demo_replays